---
import { getCollection } from "astro:content";
import BaseLayout from "../../layouts/BaseLayout.astro";

const allPosts = await getCollection("blog");
const uniqueTags = [...new Set(allPosts.map((post) => post.data.tags).flat())];
---

<BaseLayout>
  <!-- todo : consider making this a search page when there are many, many tags
    . -->
  <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
    <div class="mx-auto max-w-2xl">
      <h2
        class="mt-10 text-3xl font-bold tracking-tight text-accent sm:text-4xl"
      >
        Browse posts by topic
      </h2>
      <div class="mt-10">
        <ul class="space-y-3">
          {
            uniqueTags.map((tag) => (
              <li>
                <a
                  href={`/tags/${tag}`}
                  class="z-10 px-3 py-1.5 font-medium text-primary hover:text-primary-focus"
                >
                  {tag}
                </a>
              </li>
            ))
          }
        </ul>
      </div>
    </div>
  </div>
</BaseLayout>
