---
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogPostCard from "../components/BlogPostCard.astro";
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";
const blogEntries: CollectionEntry<"blog">[] = await getCollection("blog");
---

<BaseLayout pageTitle="Posts">
  <div class="bg-grey-900 py-24 sm:py-32">
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
      <div class="mx-auto max-w-2xl">
        <h2 class="text-3xl font-bold tracking-tight text-accent sm:text-4xl">
          Latest Posts
        </h2>
        <p class="mt-2 text-lg leading-8 text-base-content">
          writing to hear and be heard
        </p>
        <div
          class="mt-10 space-y-16 border-t border-gray-200 pt-10 sm:mt-16 sm:pt-16"
        >
          {
            blogEntries.map((blogPostEntry) => (
              <BlogPostCard entry={blogPostEntry} />
            ))
          }
        </div>
      </div>
    </div>
  </div>
</BaseLayout>

<!--

 -->
